{% extends "recipes/base.html" %}
{% block content %}
<h1>About :</h1>
<p>Django Cuisine, your digital sous chef and trusted ally in the kitchen. Django Cuisine isn't just another recipe management system; it's a culinary canvas meticulously crafted with Django's elegance and flexibility. Whether you're a seasoned chef, a passionate home cook, or an adventurous food enthusiast, DjangoCuisine empowers you to curate, create, and conquer the culinary realm like never before. Embark on a culinary adventure like never before with DjangoCuisine. Whether you're whipping up a quick weeknight dinner or preparing a feast fit for royalty, let Django Cuisine be your guiding star in the kitchen. The table is set, the ingredients are prepped – it's time to unleash your inner chef and savor the flavors of Django Cuisine</p>
{% endblock content %}
  